/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(../img/sprite-skin-flat.png) repeat-x;
}

.irs {
    height: 38px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 2px; top: 19px;
}
    .irs-line-left {
        height: 12px;
		background: #e2e2e2;
    }
    .irs-line-mid {
        height: 12px;
		background: #e2e2e2;
    }
    .irs-line-right {
        height: 12px;
		background: #e2e2e2;
    }

.irs-bar {
    height: 4px; top: 18px;
	background: #fbe205;
	-webkit-transition: left .2s, width .2s;
	-moz-transition: left .2s, width .2s;
	-ms-transition: left .2s, width .2s;
	-o-transition: left .2s, width .2s;
	transition: left .2s, width .2s;
}
    .irs-bar-edge {
        top: 25px;
        height: 12px; width: 9px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    width: 23px; height: 23px;
    top: 8px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 2px solid #fbe205;
	background: #fff;
	cursor: pointer;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.33);
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,.33);
	box-shadow: 0 4px 8px rgba(0,0,0,.33);
	-webkit-transition: all .5s, left .2s;
	-moz-transition: all .5s, left .2s;
	-ms-transition: all .5s, left .2s;
	-o-transition: all .5s, left .2s;
	transition: all .5s, left .2s;
}
.irs-slider.state_hover, .irs-slider:hover {
	border: 2px solid #fff;
	background: #fbe205;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.66);
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,.66);
	box-shadow: 0 4px 8px rgba(0,0,0,.66);
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
	display: none;
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #ed5565;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #ed5565;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}

.irs-disabled {
}
