| ﻿
doctype strict
html[xmlns="http://www.w3.org/1999/xhtml"]
  head
    title
      | YoDo
    meta[name="Keywords" content=""]
    meta[name="Description" content=""]
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    link[href="css.css" type="text/css" rel="stylesheet"]
    link[href="css/jquery.minical.plain.css" type="text/css" rel="stylesheet"]
    script[type="text/javascript" src="js/jquery-1.7.2.min.js"]
    script[type="text/javascript" src="js/tg.js"]
    script[type="text/javascript" src="js/mask.js"]
    script[type="text/javascript" src="js/jquery.minical.plain.js"]
    script[type="text/javascript" src="js/scrollslave.js"]
  script[type="text/javascript"]
    |  $(document).ready(function() { $('a[href^="#"]').click(function () { elementClick = $(this).attr("href"); destination = $(elementClick).offset().top; destination_new= destination-70; if($.browser.safari){ $('body').animate( { scrollTop: destination_new }, 600 ); }else{ $('html').animate( { scrollTop: destination_new }, 600 ); } return false; }); }); 
  body
    header
      .wrapper
        a[href="/"]
        .logo
          | заработу
          span
            | .com
          br
          p
            | Сервис для быстрого заказа любых услуг
        a.tocreate[href="#"]
          |  создать задание 
        #city
          p
            | Ваш город
          .fadeselect
            span.namecity
              |  Челябинск
            .select_city
              span.krestik
              ul
                li
                  | Екатеринбург
                li
                  | Тюмень
                li
                  | Пермь
                li
                  | Казань
                li
                  | Самара
        .account_in_site
          .name_login
            | Эшли Д.
          img[src="img/ash_small.jpg"]
          .menu_account
            span.krestik
            ul
              li
                a[href="#"]
                  | Профиль
              li
                a[href="#"]
                  | Выход
    .wrapper
      nav
        .wrap_menu
          ul.menu_one
            li
              a[href="#"]
                img.open[src="img/left_menu_li_task.png"]
                img.close[src="img/left_menu_li_task_activ.png"]
                span
                  | Мои задания
              .count
                | 12
            li
              a[href="#"]
                img.open[src="img/left_menu_li_massage.png"]
                img.close[src="img/left_menu_li_massage_activ.png"]
                span
                  | Сообщения
              .count
                | 4
            li
              a[href="#"]
                img.open[src="img/left_menu_li_2.png"]
                img.close[src="img/left_menu_li_2_act.png"]
                | Все задания
            li
              a[href="#"]
                img.open[src="img/left_menu_li_1.png"]
                img.close[src="img/left_menu_li_1_act.png"]
                | Все исполнители
          .menu
            .wrap_menu_black
              ul.menu_two
                li
                  a[href="#"]
                    | Как работает сервис?
                li
                  a[href="#"]
                    | Отзывы заказчиков
                li
                  a[href="#"]
                    | Отзывы исполнителей
                li
                  a[href="#"]
                    | Рачет коммисии
                li
                  a[href="#"]
                    | Награды и рейтинг исполнителей
                li
                  a[href="#"]
                    | Прайс лист на услуги
      #content
        #bread
          .customsbread
            a[href="/"]
              | Главная
            |  > 
            a[href="#"]
              | Личный кабинет
            |  > 
            span
              | Эшли Джей Уильямс
        #personal_account
          #account_header[style=" background: url(img/acaunt_fon.jpg) center no-repeat;"]
            a#edit_fon.edit_buttom[href="#"]
              | изменить фон
            .profile
              img.photo_user[src="img/ash.jpg"]
              a#edit_photo.edit_buttom[href="#"]
                | изменить фото
              .online
                | Онлайн
              .tag_work
              .now_free
                | Сейчас свободен
              .now_busy
                | Занят работой
              .name_user
                | Эшли Джей Уильямс
              .age_user
                | 26 лет
              .line_info
                .job_do
                  | Выполнил 56 заданий
                .his_job
                  | Создал 26 заданий
                .city
                  | Челябинск
              .line_info_two
                .rating
                  .rang
                  .score
                    | 19 отзывов
                  .task_reivews
                    i.like
                      | 15
                    i.dislike
                      | 2
                  ul
                    li.action
                    li.action
                    li.action
                    li.action
                    li
              .work_cat_want
                li
                  | Курьерские услуги
                li
                  | Бытовой ремонт
                li
                  | Дизайн
                li
                  | Грузоперевозки
                li
                  | Бытовой ремонт
                li
                  | Дизайн
            a.share_the_link[href="#"]
            .link
              | Поделиться
          #account_content
            #edit_info_account
              #menu_edit
                ul
                  li.active
                    a[href="#"]
                      | Категории услуг
                  li
                    a[href="#"]
                      | Личные данные
                  li
                    a[href="#"]
                      | Мои работы
                  li
                    a[href="#"]
                      | Мое избранное
                  li
                    a[href="#"]
                      | Мой счет
              #work_performed.my_works
                #portfolio
                  h2
                    | Мои работы
                  .add_block
                    p
                      span
                        | Добавить 
                    p
                      span
                        | работу
                  .foto_block
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
                    .foto_big
                      a[href="img/portf_big.jpg"]
                        img[src="img/portf_big.jpg"]
                        span
                          | Ремонт в однокомнатной квартире. Город Челябинск.
                        i.del
                        i.edit
    #grey_block
      .wrapper
        #block4
          script[type="text/javascript" src="http://vk.com/js/api/openapi.js?120"]
          script[type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"]
          .vk
            #vk_groups
            script[type="text/javascript"]
              |  VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "225", color2: "#000000",color3: "#fbe205"}, 55669483); 
            .like

          .vk

          .vk
            #vk_groups2
            script[type="text/javascript"]
              |  VK.Widgets.Group("vk_groups2", {mode: 0, width: "300", height: "225", color1: 'FFFFFF', color2: '000000', color3: '#FBE205'}, 55669483); 
    footer
      .wrapper
        #footer_block
          .menu
            span
              | Что за сервис?
            ul
              li
                a[href="#"]
                  | Расчет коммиссии
              li
                a[href="#"]
                  | Награды и рейтинги работников
              li
                a[href="#"]
                  | Отзывы исполнителей
              li
                a[href="#"]
                  | Отзывы заказчиков
              li
                a[href="#"]
                  | Прайс лист на услуги
          .menu
            span
              | Компания
            ul
              li
                a[href="#"]
                  | Наш блог
              li
                a[href="#"]
                  | Контакты
              li
                a[href="#"]
                  | Бренды у нас
          .menu
            span
              | Служба поддержки
            ul
              li
                a[href="#"]
                  | Правила сервиса
              li
                a[href="#"]
                  | Частные вопросы
          .info_contact
            p
              | Горячая линия с 9:00 до 23:00
              br
              |  в выходные: с 9:00 до 21:00
            p
              | в Челябинске: 8 (351) 668 65 33
              br
              |  по России: 8 (800) 77 555 33
          .tg
            | Разработка сайта 
            a[href="http://tommy-gun.pro" target="blank"]
              | TommyGun
          .copyright
            | © 2015 ЗАРАБОТУ (заработу.com, zaraboty.com)
      footer
        #modal_proposal.modal-dialog.modal-reg.modal-addwork[data-original-title="" title=""]
          .modal-content[data-original-title="" title=""]
            .modal-header.center_width[data-original-title="" title=""]
              button.close[aria-label="Close" data-dismiss="modal" type="button"]
                span[aria-hidden="true" data-original-title="" title=""]
              h4.modal-title
                | Добавьте вашу работу
            .modal-body[style="width: auto" data-original-title="" title=""]
              .smalltext.center_width[data-original-title="" title=""]
                span
                  | 1. Загрузите изображение / фотографию вашей работы:
                label.add_img
                  span
                    | Добавить изображение
                  input[type="file" name="file"]
              .smalltext.center_width[data-original-title="" title=""]
                span
                  | 2. Опишите свою работу:
                textarea.work_txt[name="text"]
            .modal-footer[data-original-title="" title=""]
              button.modal-button
                | Добавить
