!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title YoDo
    %meta{:content => "", :name => "Keywords"}/
    %meta{:content => "", :name => "Description"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %link{:href => "css.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/jquery.minical.plain.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/jquery-1.7.2.min.js", :type => "text/javascript"}
    %script{:src => "js/tg.js", :type => "text/javascript"}
    %script{:src => "js/mask.js", :type => "text/javascript"}
    %script{:src => "js/jquery.minical.plain.js", :type => "text/javascript"}
    %script{:src => "js/scrollslave.js", :type => "text/javascript"}
  :javascript
    $(document).ready(function() {
       $('a[href^="#"]').click(function () { 
         elementClick = $(this).attr("href");
    
         destination = $(elementClick).offset().top;
         destination_new= destination-70;
         if($.browser.safari){
           $('body').animate( { scrollTop: destination_new }, 600 );
         }else{
           $('html').animate( { scrollTop: destination_new }, 600 );
         }
         return false;
       });
     });
  %body
    %header
      .wrapper
        %a{:href => "/"}
          .logo
            заработу
            %span .com
            %br/
            %p Сервис для быстрого заказа любых услуг
        %a.tocreate{:href => "#"}
          создать задание
        #city
          %p Ваш город
          .fadeselect
            %span.namecity Челябинск
            .select_city
              %span.krestik
              %ul
                %li Екатеринбург
                %li Тюмень
                %li Пермь
                %li Казань
                %li Самара
        .account_in_site
          .name_login Эшли Д.
          %img{:src => "img/ash_small.jpg"}/
          .menu_account
            %span.krestik
            %ul
              %li
                %a{:href => "#"} Профиль
              %li
                %a{:href => "#"} Выход
    .wrapper
      %nav
        .wrap_menu
          %ul.menu_one
            %li
              %a{:href => "#"}
                %img.open{:src => "img/left_menu_li_task.png"}/
                %img.close{:src => "img/left_menu_li_task_activ.png"}/
                %span
                  Мои задания
                  .count 12
            %li
              %a{:href => "#"}
                %img.open{:src => "img/left_menu_li_massage.png"}/
                %img.close{:src => "img/left_menu_li_massage_activ.png"}/
                %span
                  Сообщения
                  .count 4
            %li
              %a{:href => "#"}
                %img.open{:src => "img/left_menu_li_2.png"}/
                = succeed "\u{412}\u{441}\u{435}" do
                  %img.close{:src => "img/left_menu_li_2_act.png"}/
            %li
              %a{:href => "#"}
                %img.open{:src => "img/left_menu_li_1.png"}/
                = succeed "\u{412}\u{441}\u{435}" do
                  %img.close{:src => "img/left_menu_li_1_act.png"}/
          .menu
            .wrap_menu_black
              %ul.menu_two
                %li
                  %a{:href => "#"} Как работает сервис?
                %li
                  %a{:href => "#"} Отзывы заказчиков
                %li
                  %a{:href => "#"} Отзывы исполнителей
                %li
                  %a{:href => "#"} Рачет коммисии
                %li
                  %a{:href => "#"} Награды и рейтинг исполнителей
                %li
                  %a{:href => "#"} Прайс лист на услуги
      #content
        #bread
          .customsbread
            %a{:href => "/"} Главная
            \&gt;
            %a{:href => "#"} Личный кабинет
            \&gt;
            %span Эшли Джей Уильямс
        #personal_account
          #account_header{:style => " background: url(img/acaunt_fon.jpg) center no-repeat;"}
            %a#edit_fon.edit_buttom{:href => "#"} изменить фон
            .profile
              %img.photo_user{:src => "img/ash.jpg"}/
              %a#edit_photo.edit_buttom{:href => "#"} изменить фото
              .online Онлайн
              .tag_work
              .now_free Сейчас свободен
              .now_busy Занят работой
              .name_user Эшли Джей Уильямс
              .age_user 26 лет
              .line_info
                .job_do Выполнил 56 заданий
                .his_job Создал 26 заданий
                .city Челябинск
              .line_info_two
                .rating
                  .rang
                  .score 19 отзывов
                  .task_reivews
                    %i.like 15
                    %i.dislike 2
                  %ul
                    %li.action
                    %li.action
                    %li.action
                    %li.action
                    %li
              .work_cat_want
                %li Курьерские услуги
                %li Бытовой ремонт
                %li Дизайн
                %li Грузоперевозки
                %li Бытовой ремонт
                %li Дизайн
            %a.share_the_link{:href => "#"}
              .link Поделиться
          #account_content
            #edit_info_account
              #menu_edit
                %ul
                  %li.active
                    %a{:href => "#"} Категории услуг
                  %li
                    %a{:href => "#"} Личные данные
                  %li
                    %a{:href => "#"} Мои работы
                  %li
                    %a{:href => "#"} Мое избранное
                  %li
                    %a{:href => "#"} Мой счет
              #work_performed
                %h2.work Выполняемые работы:
                .work_cat
                  .delete_form.buttom_panel
                  .edit_form.buttom_panel
                  .img_cat_work{:style => "background:url(img/img_cat.png) no-repeat center, #484848"}
                  .headline_work
                    Курьерские услуги
                    .detals_workmen (1 место в рейтинге категории, выполнено 947 заданий)
                  .text Услуги пешего курьера, услуги курьера на авто, купить и доставить, срочная доставка, доставка продуктов, доставка еды из ресторанов, курьер на день, другая посылка.
                  %form.edit_text_work
                    %textarea{:placeholder => "Рукописный текст, что то об автомобиле и тд. Ваше описание услуги."}
                    .price_for_work
                      Цена за услугу от
                      .birka{"data-original-title" => "", :title => ""}
                        .form-block{"data-original-title" => "", :title => ""}
                          %input{:name => "price", :placeholder => "1 500"}/
                    %button.botton{:onclick => "", :type => "submit"} Cохранить изменения
                .work_cat
                  .img_cat_work{:style => "background:url(img/img_cat.png) no-repeat center, #484848"}
                  .headline_work
                    Курьерские услуги
                    .detals_workmen (1 место в рейтинге категории, выполнено 947 заданий)
                  .text Услуги пешего курьера, услуги курьера на авто, купить и доставить, срочная доставка, доставка продуктов, доставка еды из ресторанов, курьер на день, другая посылка.
                  %span Рукописный текст, что то об автомобиле и тд. Ваше описание услуги.
                  %form.edit_text_work
                    .price_for_work
                      Цена за услугу от
                      .birka{"data-original-title" => "", :title => ""}
                        .form-block{"data-original-title" => "", :title => ""}
                          %input{:name => "price", :placeholder => "1 500"}/
              #add_cat Добавить услугу
              .wrap_form_edit
                #cat.reg-data
                  %span#fade-1.fade
                  %span#fade-2.fade
                  %span#fade-3.fade
                  %span#antifade-1.antifade
                  %span#antifade-2.antifade
                  %span#antifade-3.antifade
                  %div
                    .cat-block
                      %label{:for => "cat0"}
                        %input#cat0{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat1"}
                        %input#cat1{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat2"}
                        %input#cat2{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat3"}
                        %input#cat3{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat4"}
                        %input#cat4{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat5"}
                        %input#cat5{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat6"}
                        %input#cat6{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat7"}
                        %input#cat7{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat8"}
                        %input#cat8{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat9"}
                        %input#cat9{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat10"}
                        %input#cat10{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat11"}
                        %input#cat11{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                      %label{:for => "cat12"}
                        %input#cat21{:name => "category", :type => "radio"}/
                        Установка и ремонт техники
                    .cat-block
                      .first Выберите услугу
                      #cat0
                        /
                          При программировании нужно накапливать варианты в дивах, для того,
                          чтобы элементы внутри блока отображались правильно
                        %div
                          %input#cat-check1{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check1"} Услуги пешего курьера
                          %input#cat-check2{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check2"}
                            Услуги пешего курьераsdfsdf sdfsdf sdfsdfsdf
                            sdfsdf
                          %input#cat-check3{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check3"} Услуги пешего курьера
                          %input#cat-check4{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check4"} Услуги пешего курьера
                          %input#cat-check5{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check5"} Услуги пешего курьера
                          %input#cat-check6{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check6"} Услуги пешего курьера
                          %input#cat-check7{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check7"} Услуги пешего курьера
                          %input#cat-check8{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check8"} Услуги пешего курьера
                          %input#cat-check9{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check9"} Услуги пешего курьера
                          %input#cat-check10{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check10"} Услуги пешего курьера
                          %input#cat-check11{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check11"} Услуги пешего курьера
                          %input#cat-check12{:name => "cat0[]", :type => "checkbox"}/
                        %div
                          %label{:for => "cat-check12"} Услуги пешего курьера
                          %input#cat-check14{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check13"} Услуги пешего курьера
                          %input#cat-check15{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check14"} Услуги пешего курьера
                          %input#cat-check17{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check15"} Услуги пешего курьера
                          %input#cat-check16{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check16"} Услуги пешего курьера
                          %input#cat-check17{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check17"} Услуги пешего курьера
                          %input#cat-check18{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check18"} Услуги пешего курьера
                          %input#cat-check19{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check19"} Услуги пешего курьера
                          %input#cat-check20{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check20"} Услуги пешего курьера
                          %input#cat-check21{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check21"} Услуги пешего курьера
                          %input#cat-check22{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check22"} Услуги пешего курьера
                          %input#cat-check23{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check23"} Услуги пешего курьера
                          %input#cat-check24{:name => "cat0[]", :type => "checkbox"}/
                          %label{:for => "cat-check24"} Услуги пешего курьера
                    .cat-block
                      .header
                        Вы выбрали
                        %span 0
                        категорий
                      .body
                  :javascript
                    $(document).ready(function(e) {
                    												var counter = 0;
                    												
                    												function updateCounter (znak){
                    													switch (znak){
                    														case "+":
                    															counter++;
                    														break;
                    														
                    														case "-":
                    															counter--;
                    														break;
                    														
                    														
                    													}
                    													//console.log(counter);
                    													$("#cat .cat-block > .header span").html(counter);
                    												}
                    												
                    												$("#cat .cat-block:first-child + .cat-block input").click(function(){
                    													var obj = $("#cat .cat-block > .body div > span[data="+$(this).attr("id")+"]").parent("div");
                    													
                    													
                    													if ($(this).prop("checked")){
                    														updateCounter("+");
                    														
                    														if ($("#cat .cat-block > .body div > span[data="+$(this).attr("id")+"]").length){
                    															//obj.css({display: "block"});
                    
                    															setTimeout(function(){
                    																obj.removeClass("delete");
                    
                    																obj.next("div").css({"margin-top": "0px"});
                    																
                    															}, 50);
                    															
                    														}else
                    															$("#cat .cat-block > .body").prepend("<div><span data='"+$(this).attr('id')+"'>"+$(this).next('label').text()+"</span></div>");
                    													}else{
                    														updateCounter("-");
                    														
                    														obj.addClass("delete");
                    														
                    														setTimeout(function(){
                    																obj.next("div").css({"margin-top": "-"+obj.height()+"px"});
                    														}, 350);
                    														
                    														setTimeout(function(){
                    															//obj.css({display: "none"});
                    															//obj.next("div").css({"margin-top": "3px"});
                    														}, 700);
                    													}
                    													
                    													var timer, flag = 1;
                    													
                    													$("#cat .cat-block:last-child .body div > span").each(function(i, el){
                    														
                    														if (!$(this).attr("action") && flag == 1){
                    															
                    															$(this).attr("action", 1);
                    															
                    															$(this).click(function(){
                    																	clearInterval(timer);
                    																	
                    																	
                    															
                    																	timer = setInterval(function(){
                    																		flag = 1;
                    																	}, 300);
                    																	
                    																	if (flag == 0)
                    																		return false;
                    																	flag = 0;
                    																	$(this).parent("div").addClass("delete");
                    																	
                    																	var obj2 = $(this);
                    																	
                    																	
                    																	$("#cat .cat-block:first-child + .cat-block #"+$(this).attr("data")).prop("checked", false);
                    																	
                    																	setTimeout(function(){
                    																		obj2.parent("div").next("div").css({"margin-top": "-"+obj2.parent("div").height()+"px"});
                    																		
                    																		console.log("123123");
                    																		updateCounter("-");
                    																	}, 300);
                    															});
                    														}
                    													});
                    														
                    														
                    												});	
                    												
                                                                    $("#cat .cat-block:first-child > label").click(function(){
                    													$("#cat .cat-block:first-child .active").removeClass("active");
                    													$(this).addClass("active");
                    													
                    													$("#cat .cat-block:first-child + .cat-block").addClass("none");
                    													
                    													var id = $(this).attr("for");
                    													
                    													$("#cat .cat-block:first-child + .cat-block div[id]").css({opacity: 0});
                    													setTimeout(function(){
                    															$("#cat .cat-block:first-child + .cat-block div[id]").css({display: "none"});
                    															$("#cat .cat-block:first-child + .cat-block #"+id).css({display: "block"});
                    															setTimeout(function(){
                    																$("#cat .cat-block:first-child + .cat-block #"+id).css({opacity: "1"});
                    															}, 50);
                    													}, 300);
                    												});
                                                                });
              .save
                .button Сохранить
    #grey_block
      .wrapper
        #block4
          %script{:src => "http://vk.com/js/api/openapi.js?120", :type => "text/javascript"}
          %script{:charset => "windows-1251", :src => "http://vk.com/js/api/share.js?93", :type => "text/javascript"}
          .vk
            #vk_groups
            :javascript
              VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "225", color2: "#000000",color3: "#fbe205"}, 55669483);
            .like
              /
                <script type="text/javascript">
                document.write(VK.Share.button(false,{type: "round", text: "&nbsp;"}));
                </script>
          .vk
          .vk
            #vk_groups2
            :javascript
              VK.Widgets.Group("vk_groups2", {mode: 0, width: "300", height: "225", color1: 'FFFFFF', color2: '000000', color3: '#FBE205'}, 55669483);
    %footer
      .wrapper
        #footer_block
          .menu
            %span Что за сервис?
            %ul
              %li
                %a{:href => "#"} Расчет коммиссии
              %li
                %a{:href => "#"} Награды и рейтинги работников
              %li
                %a{:href => "#"} Отзывы исполнителей
              %li
                %a{:href => "#"} Отзывы заказчиков
              %li
                %a{:href => "#"} Прайс лист на услуги
          .menu
            %span Компания
            %ul
              %li
                %a{:href => "#"} Наш блог
              %li
                %a{:href => "#"} Контакты
              %li
                %a{:href => "#"} Бренды у нас
          .menu
            %span Служба поддержки
            %ul
              %li
                %a{:href => "#"} Правила сервиса
              %li
                %a{:href => "#"} Частные вопросы
          .info_contact
            %p
              Горячая линия с 9:00 до 23:00
              %br/
              в выходные: с 9:00 до 21:00
            %p
              в Челябинске:   8 (351) 668 65 33
              %br/
              по России:   8 (800) 77 555 33
          .tg
            Разработка сайта
            %a{:href => "http://tommy-gun.pro", :target => "blank"} TommyGun
          .copyright © 2015 ЗАРАБОТУ (заработу.com, zaraboty.com)
      %footer
