html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0}
:focus{outline:0}

body {
	font: normal 75%/150%  pf_agora_slab_proregular, Arial, Verdana, Tahoma, Verdana, Georgia, sans-serif;
	color:#757575;
	font-size:14px;
	background:#fff;
}

a:hover{
	text-decoration:none;
}

H1{
	text-align:center;
	font-size:26px;
	color:#404040;
	font-family: 'pf_agora_slab_problack';
	text-transform: uppercase;
	margin:35px 0px;
}


@font-face {
    font-family: 'aa-bebasneue';
    src: url('fonts/aa-bebasneue-webfont.eot');
    src: url('fonts/aa-bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aa-bebasneue-webfont.woff') format('woff'),
         url('fonts/aa-bebasneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pf_agora_slab_problack';
    src: url('fonts/pfagoraslabpro-black-webfont.eot');
    src: url('fonts/pfagoraslabpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfagoraslabpro-black-webfont.woff2') format('woff2'),
         url('fonts/pfagoraslabpro-black-webfont.woff') format('woff'),
         url('fonts/pfagoraslabpro-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_slab_proregular';
    src: url('fonts/pfagoraslabpro-reg-webfont.eot');
    src: url('fonts/pfagoraslabpro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfagoraslabpro-reg-webfont.woff2') format('woff2'),
         url('fonts/pfagoraslabpro-reg-webfont.woff') format('woff'),
         url('fonts/pfagoraslabpro-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.wrapper{
	position:relative;
	margin:0px auto;
	width:1235px;
	padding:0px 19px;
}

#header{
	position:fixed;
	float:left;
	width:100%;
	background:#fff;
	height:70px;
	z-index:10;
}

#header .logo{
    position: relative;
    float: left;
    padding-left: 64px;
    height: 50px;
    background: url(img/logo.jpg) center left no-repeat;
    margin-top: 0px;
    color: #404040;
    font-size: 26px;
    font-family: 'pf_agora_slab_problack';
    text-transform: uppercase;
    padding-top: 17px;
	margin-left:0px;
}

#header .logo span{
	color:#fbe205;
} 

#header .logo p{
	text-transform: none;
	font-size: 14px;
	color:#717171;
	font-family: 'pf_agora_slab_proregular';
}

#header .tocreate{
	position: relative;
    float: left;
	font-family: 'pf_agora_slab_problack';
	text-transform: uppercase;
	color: #404040;
    font-size: 15px;
	border-radius:10px;
	border:2px solid #fae212;
	padding:5px 17px;
	margin: 18px 0px 0px 183px;
	cursor:pointer;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	text-decoration:none;
}

#header .tocreate:hover{
	background:#fae212;
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#header .tocreate span{
	 font-size: 18px;
}

#header .city{
	position: relative;
    float: left;
	margin: 24px 0px 0px 220px;
	color:#818181;
	font-size:14px;
}

#header .city span{
	color:#212121;
	border-bottom:1px dotted #212121;
	cursor:pointer;
	height: 17px;
    position: relative;
    float: left;
}

#header .city .fadeselect,#header .city p{
	position: relative;
    float: left;
}

#header .city .fadeselect{
	margin-left:4px;
	height:30px;
}

#header .city .fadeselect:hover span{
	border-bottom:0px dotted #212121;
}

#header .city span:hover{
	border-bottom:0px dotted #212121;
}

#header .city .select{
	position:absolute;
	top:23px;
	right:-19px;
	background:#fff;
	padding:8px 14px 8px 30px;
	border:1px solid #d2d2d2;
	-webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    1px 1px 12px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         1px 1px 12px 0px rgba(0, 0, 0, 0.3);
	display:none;
	overflow: hidden;

}


#header .city .select ul{
	position: relative;
    float: left;
	list-style: none;
	text-align:right;
}

#header .city .select ul li{
	font-size:14px;
	cursor:pointer;
}
#header .city .select ul li:hover{
	color:#212121;
	font-weight:bold;
}

#header .account{
	position: relative;
    float: left;
	margin-top:24px;
	margin-left:61px;
	color:#212121;
}

#header .account img{
	position: relative;
    float: left;
	margin-right:9px;
}
#header .account span{
    color: #212121;
    border-bottom: 1px dotted #212121;
    cursor: pointer;
    height: 17px;
    position: relative;
    float: left;
	cursor:pointer;
}

#header .account span:hover{
	border-bottom: 0px dotted #212121;
}

#header .account .open{
	position: relative;
    float: left;
	background:url(img/str.jpg) no-repeat;
	width:7px;
	height:6px;
	margin-top:8px;
	margin-left:4px;
	cursor:pointer;
}
#center_main{
	position: relative;
    float: left;
	width:100%;
	height:507px;
	background:url(img/main_fon.jpg) top center repeat-x;
	margin-top:70px;
}
#right_main{
    position: relative;
    float: right;
    width: 269px;
    background: #fff;
    height: 486px;
    padding: 19px 20px 0px 26px;
}

#right_main .discript{
	position: relative;
    float: left;
	color: #404040;
    font-size: 26px;
    font-family: 'pf_agora_slab_problack';
    text-transform: uppercase;
} 

#right_main .discript span{
	color: #fbe205;
}

#right_main .about{
	position: relative;
    float: left;
	color: #404040;
    font-size: 18px;
	font-weight:bold;
	margin-top:16px;
	line-height:22px;
}

#right_main .about span{
	border-bottom: 1px dotted #212121;
	cursor:pointer;
}

#right_main .about span:hover{
	border-bottom: 0px;
}

#count{
	position: relative;
    float: left;
	margin-top:16px;
}

#count p{
	position: relative;
    color:#898989;
	font-weight:bold;
	margin-bottom:10px;
}

#count .number{
	position: relative;
	margin-bottom:17px;
	float: left;

}

#count .number .team{
	color:#404040;
	font-weight:bold;
	position: relative;
    float: left;
	margin-top:-3px;
	margin-left:13px;
	line-height:14px;
}

#count .number span{
	font-size: 37px;
    font-family: 'pf_agora_slab_problack';
    text-transform: uppercase;
	color:#fbe205;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.52);
	position: relative;
    float: left;
}

#right_main .selecth{
	position: relative;
	float: left;
	color:#585858;
	margin-top:19px;
	line-height:18px;
} 


#right_main ul#selecter {
	display: block;
    position: absolute;
    top: 316px;
    float: left;
    width: 257px;
    background:#fff;
    border: 2px solid #fbe205;
    font-size: 15px;
    color: #010101;
    font-family: 'pf_agora_slab_proregular';
	list-style: none;
	z-index:5;
}

#right_main .close{
	display: none;
}

ul#selecter .arrow_selector {
    position: absolute;
    top: 18px;
    right: 16px;
    width: 10px;
    height: 8px;
    background: url(img/str_select.png) no-repeat;
}

ul#selecter li.activ_punct {
    display: block !important;
	padding: 10px 10px 10px 17px;
	text-transform: uppercase;
	background:none;
}
ul#selecter li.activ_punct:hover{
	color: #010101;
}

ul#selecter li.activ_punct.activ{ 
	background:#fbe205;
}

ul#selecter li {
   
    cursor: pointer;
	text-transform: none;
	background: url(img/li_select.png) 12px center no-repeat;
	padding: 7px 6px 4px 28px;
}

ul#selecter li:hover{
	background: url(img/li_select.png) 11px center no-repeat, #818181;
	color:#fff;
}

#right_main ul#selecter.activ {
	-webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.32);
	-moz-box-shadow:    3px 3px 9px 0px rgba(0, 0, 0, 0.32);
	box-shadow:         3px 3px 9px 0px rgba(0, 0, 0, 0.32);
}

#right_main .ap-select_special option{
	 border: 2px solid #fbe205;
}

#right_main .button{
	position: relative;
    float: left;
	margin-top: 78px;
	font-family: 'pf_agora_slab_problack';
    text-transform: uppercase;
    color: #404040;
    font-size: 18px;
    border-radius: 10px;
	background:#fbe205;
    border: 1px solid #fff;
    padding: 11px 34px 9px 34px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-webkit-transition-property: background;
	-webkit-transition-property:box-shadow;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	cursor:pointer;
	text-decoration:none;
}
#right_main .button:hover{
	background:#ffef65;
	-webkit-transition-property:box-shadow;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition-property: background;
	-webkit-transition-property:box-shadow;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#right_main .work{
	position: relative;
    float: left;
	margin-top:23px;
	color:#585858;
	line-height:16px;
}

#right_main .work a{
	color:#000;
}

#left_main{
	position: relative;
    float: right;
	width:654px;
	padding:10px;
	height:484px;
}
#left_main .video.vid1, .video.vid3, .video.vid4{
	margin-right:10px;
}

#left_main .video.vid1, .video.vid2{
	margin-bottom:10px;
}

#left_main .video{
	position: relative;
	float:left;
}

#left_main .video img{
	position: relative;
	float:left;
}

#left_main .video .info{
	position: absolute;
	bottom:0px;
	background:#fff;
	height:42px;
	width:100%;
	opacity:0.8;
}

#left_main .video .info p{
	color:#000;
	font-size:12px;
	position: absolute;
}

#left_main .video .info p.name{
	top:3px;
	left:12px;
}

#left_main .video .info p.rang{
	top:17px;
	left:12px;
	background:url(img/like.png) left center no-repeat;
	padding-left:16px;
}

#left_main .video .info p.tag{
	bottom: 4px;
    right: 12px;
	font-size:13px;
}

#left_main .video .categor{
	position: absolute;
	bottom:27px;
	right:10px;
}

#left_menu{
	position:fixed;
	height:100%;
	background:#585858;
	top:70px;
	width:238px;
	z-index:10;
}

#left_menu .wrap_menu{
	position:relative;
	float:left;
	width:224px;
	height:100%;
	margin-left: 6px;
	border-right:1px solid #767676;
	border-left:1px solid #767676;
}

#left_menu ul.menu_one{
	position:relative;
	list-style: none;
	margin-top:37px;
}

#left_menu ul.menu_one span{
	width:119px;
	height:1px;
	display:block;
	background:#cdcdcd;
	margin-left:12px;
	position:relative;
}

#left_menu ul.menu_one li{
	display:block;
	width:100%;
	
}

#left_menu ul.menu_one li img{
	position:relative;
	float:left;
	width:24px;
	margin: -4px 13px 0px 12px;
	-webkit-transition: opacity 500ms ease;
        -moz-transition: opacity 500ms ease;
        -ms-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        transition: opacity 500ms ease;
}

#left_menu  ul.menu_one li img.open{
	opacity:1;
}

#left_menu ul.menu_one li img.close{
	opacity:0;
	width:0px;
}

#left_menu ul.menu_one li a{
	padding: 18px 0px 14px 0px;
	display:block;
	color:#fff;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}

#left_menu ul.menu_one li a:hover img.close{
	opacity:1;
	width:24px;
}

#left_menu ul.menu_one li a:hover img.open{
	opacity:0;
	width:0px;
	-webkit-transition: opacity 500ms ease;
        -moz-transition: opacity 500ms ease;
        -ms-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        transition: opacity 500ms ease;
}

#left_menu ul.menu_one li a:hover{
	background:#fff;
	color:#000;
	-webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
		-webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
-moz-box-shadow:    1px 1px 8px 0px rgba(0, 0, 0, 0.35);
box-shadow:         1px 1px 8px 0px rgba(0, 0, 0, 0.35);
}

#left_menu .menu{
    position: relative;
    float: left;
    width: 238px;
    height: 300px;
    background: #4d4d4d;
    margin: 29px 0px 0px -7px;

}


#left_menu  ul.menu_two{
	position: relative;
    float: left;
	margin-top:20px;
	list-style: none;
}

#left_menu  ul.menu_two li{
	position: relative;
    float: left;
	margin:0px 0px 5px 26px;
}

#left_menu  ul.menu_two li a{
	color:#f4f4f4;
	text-decoration:none;
}

#left_menu  ul.menu_two li:first-child{
	margin:0px 0px 5px 10px;
}

#left_menu  ul.menu_two li a:hover{
	color:#fbe205;
}

#block1{
	position: relative;
    float: right;
    margin-top: 15px;
    width: 978px;
	padding-bottom:25px;
    background: url(img/granica.jpg) top center no-repeat, url(img/granica_fon.jpg) 0px 9px repeat-x;
}

#block1 #categoryfix{
	position: relative;
    float: right;
	width:100%;
	height:305px;
	z-index:5;
}

#block1 .category{
	position: relative;
	float:left;
	width:232px;
	padding-bottom:13px;
	margin-right:16px;
	background:#fff;
}

#block1 .category:nth-child(4n){
	margin-right:0px;
}

#block1 .category:hover{
	-webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.51);
	-moz-box-shadow:    1px 1px 9px 0px rgba(50, 50, 50, 0.51);
	box-shadow:         1px 1px 9px 0px rgba(50, 50, 50, 0.51);

}

#block1 .category:hover .name{
border-bottom:1px solid #fce734;
}

#block1 .category img{
	position: relative;
	float:left;
	margin-bottom:13px;
}

#block1 .category .name{
	position: relative;
    float: left;
    width: 210px;
	color:#474747;
	font-size:17px;
	font-family: 'pf_agora_slab_problack';
	text-transform: uppercase;
	border-bottom:1px solid #474747;
	text-decoration:none;
	margin:0px 11px;
}



 ul.open{
	cursor: pointer;
	text-transform: none;
	list-style: none;
	text-align:left;
	position: relative;
	float:left;
	margin-top:9px;
	width:100%;
}

#block1 ul.close{
	display:none;
}

#block1 ul.open li{
	background: url(img/li_select.png) 12px center no-repeat;
	padding: 0px 6px 0px 28px;
} 

#block1 ul.open li:hover{
	color:#212121;
	font-weight:bold;
}

#block1 ul .close{
	display:none;
}

#block1 .category .all{
	position: relative;
	cursor: pointer;
	float:left;
	color:#a2a2a2;
	margin:3px 0px 0px 13px;
	height:17px;
	border-bottom:1px dotted #a2a2a2;
	display:block;
}

#spisok_cat{
	position: relative;
	float:left;
	width:100%;
}

#spisok_cat .cat_block{
	position: relative;
	float:left;
	width:232px;
	height:73px;
	background:#fff;
		-webkit-transition-property:background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	margin-right:16px;
}

#spisok_cat a:nth-of-type(4n) .cat_block{
	margin-right:0px;
}

#spisok_cat .cat_block img{
	position: relative;
	float:left;
	margin-top:18px;
	margin-left:19px;
}

#spisok_cat .cat_block span{
	position: relative;
	float:left;
	margin-top:20px;
	margin-left:15px;
	width:125px;
	line-height:16px;
	color:#474747;
	font-weight:bold;
}

#spisok_cat .cat_block:hover{
	background:#fbe205;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    1px 1px 6px 0px rgba(0, 0, 0, 0.2);
box-shadow:         1px 1px 6px 0px rgba(0, 0, 0, 0.2);
	-webkit-transition-property:background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#block1 a.look_all{
	position: relative;
    float: left;
	font-family: 'pf_agora_slab_problack';
	text-transform: uppercase;
	color: #404040;
    font-size: 18px;
	border-radius:10px;
	border:2px solid #fae212;
	padding:10px 38px;
	margin: 20px 0px 0px 308px;
	cursor:pointer;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	text-decoration:none;
}

#block1 a.look_all:hover{
	background:#fae212;
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

.skyline{
	position: relative;
    float: right;
    margin-top:0px;
	height:20px;
    width: 978px;
	padding-bottom:15px;
    background: url(img/granica.jpg) top center no-repeat, url(img/granica_fon.jpg) 0px 9px repeat-x;
}

#yellow_block{
	position: relative;
	float:left;
	width:100%;
	background:#fbe205;
	min-height:100px;
}

#yellow_block .yellow_ring{
    position: absolute;
    top: -10px;
    right: 478px;
    background: #fbe205;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#block2{
	position: relative;
    float: right;
    width: 978px;
	padding-bottom:25px;
}

#block2 .discript{
	position: relative;
	float:left;
	width:100%;
	text-align:center;
	color:#262626;
	font-size:16px;
	font-weight:bold;
	margin-top: -20px;
}

#levels{
    position: relative;
    float: left;
    width: 475px;
    margin-right: 17px;
    margin-top: 31px;
}

#levels .level_one{
	position: relative;
	float:left;	
	margin-left:15px;
	margin-bottom:36px;
}

#levels .level_one img{
	position: relative;
	float:left;
	margin-right:20px;
}

#levels .level_one H3{
	color:#000;
	font-size:18px;
	font-weight:bold;
}

#levels .level_one p{
	margin-top:6px;
	line-height:16px;
	margin-left: 93px;
	color:#262626;
}

#levels .tocreate{
	position: relative;
    float: left;
	font-family: 'pf_agora_slab_problack';
	text-transform: uppercase;
	color: #404040;
    font-size: 15px;
	border-radius:10px;
	border:2px solid #fae212;
	padding:5px 17px;
	margin: 14px 0px 0px 0px;
	cursor:pointer;
	background:#fff;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	opacity:1;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	text-decoration:none;
}
#levels .tocreate:hover{
	opacity:0.8;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#levels .tocreate span{
	 font-size: 18px;
}

#youtube{
	position: relative;
    float: left;
	margin-top:105px;
	margin-left:5px;
	height:306px;
	-webkit-box-shadow: 4px 4px 26px 0px rgba(222, 204, 0, 1);
	-moz-box-shadow:    4px 4px 26px 0px rgba(222, 204, 0, 1);
	box-shadow:         4px 4px 26px 0px rgba(222, 204, 0, 1);
}

#block3{
	position: relative;
    float: right;
    margin-top: 15px;
    width: 978px;
	padding-bottom:25px;
} 

#why{
	position: relative;
    float: left;
	border:5px solid #fbe205;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.26);
	-moz-box-shadow:    1px 1px 10px 0px rgba(0, 0, 0, 0.26);
	box-shadow:         1px 1px 10px 0px rgba(0, 0, 0, 0.26);
	width:968px;
	margin-top:16px;
}

#why h1{
	margin:30px 0px;
}

#why .why_block{
	position: relative;
    float: left;
	width:250px;
	margin:20px 36px 33px 34px;
}

#why .why_block h3{
	color:#000;
	font-size:18px;
	font-weight:bold;
	margin:15px 0px;
}

#why .why_block p{
	line-height:18px;
}

#job_online{
	position: relative;
    float: right;
    margin-top: 35px;
    width: 978px;
    padding-bottom: 25px;
    background: url(img/granica.jpg) top center no-repeat, url(img/granica_fon.jpg) 0px 9px repeat-x;
}

#job_online .job{
	position: relative;
	float:left;
	width:765px;
	border:2px solid #d6d6d6;
	border-radius:10px;
	margin-left:103px;
	margin-top:18px;
	-webkit-transition-property: border;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-property: box-shadow;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#job_online .job:hover{
	border:2px solid #fbe205;
	-webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.22);
	-moz-box-shadow:    2px 2px 9px 0px rgba(0, 0, 0, 0.22);
	box-shadow:         2px 2px 9px 0px rgba(0, 0, 0, 0.22);
	-webkit-transition-property: border;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-property: box-shadow;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#job_online .job:hover .button{
	right:-108px;
	opacity:1;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease
		-webkit-transition: right .4s;
	-moz-transition: right .4s;
	-ms-transition: right .4s;
	-o-transition: right .4s;
	transition: right .4s;
}

#job_online .job img{
	position: relative;
	float:left;
	margin:15px 20px 15px 30px;
}

#job_online .job a{
	text-decoration:none;
}

#job_online .job h3{
	display:block;
	color:#262626;
	font-size:15px;
	margin:11px 0px 5px 2px;
	font-weight:bold;
}


#job_online .job p{
	line-height:18px;
	color: #757575;
}

#job_online .job .sale{
	position:absolute;
	top:10px;
	right:13px;
	background: url(img/icon_sale.jpg) left center no-repeat;
	padding-left:27px;
	color:#262626;
	font-size:15px;
	font-weight:bold;
}

#job_online .job .button{
	position:absolute;
	top:0px;
	right:-128px;
	height:90px;
	width:97px;
	text-align:center;
	background:#fbe205;
	-webkit-box-shadow: -2px 6px 15px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    -2px 6px 15px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         -2px 6px 15px 0px rgba(0, 0, 0, 0.3);
	opacity:0;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	cursor:pointer;
		-webkit-transition: right .4s;
	-moz-transition: right .4s;
	-ms-transition: right .4s;
	-o-transition: right .4s;
	transition: right .4s;
}

#job_online .job .button:after{
	content:'';
	position:absolute;
	top: 32px;
    left: -10px;
	width: 0px;
	height: 0px;
	border-top: 11px solid transparent;
	border-right: 11px solid #fbe205;
	border-bottom: 11px solid transparent;
}

#job_online .job .button span{
	font-size: 40px;
    display: block;
    margin: 10px 0px;
    font-weight: bold;
	color:#262626;
}

#job_online .job .button p{
	color:#404040;
	font-size:11px;
	font-family: 'pf_agora_slab_problack';
	text-transform: uppercase;
	line-height:13px;
}

#block3 a.look_all{
	position: relative;
    float: left;
	font-family: 'pf_agora_slab_problack';
	text-transform: uppercase;
	color: #404040;
    font-size: 18px;
	border-radius:10px;
	border:2px solid #fae212;
	padding:10px 48px;
	margin: 38px 0px 0px 308px;
	cursor:pointer;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	text-decoration:none;
}

#block3 a.look_all:hover{
	background:#fae212;
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

#grey_block{
	position: relative;
    float: left;
    width: 100%;
    background: #d2d2d2;
    min-height: 100px;
	margin-top:10px;
	height:341px;
}

#block4 {
    position: relative;
    float: right;
    margin-top: 15px;
    width: 978px;
	padding-bottom: 25px;
}

#block4  .vk:nth-of-type(2){
	margin:15px 20px;
}

#block4  .vk{
	position: relative;
    float: left;
	width:300px;
	height:225px;
	border:6px solid #fff;
	margin-top:17px;
	z-index:2;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.19);
	-moz-box-shadow:    0px 5px 11px 0px rgba(0, 0, 0, 0.19);
	box-shadow:         0px 5px 11px 0px rgba(0, 0, 0, 0.19)
}

#block4  .vk .like{
	position:absolute;
	bottom:-44px;
	right:-6px;
}

#block4  .vk:after {
	content: '';
    position: absolute;
    bottom: -32px;
    left: 35px;
    width: 0;
    height: 0;
	border-top: 26px solid #fff; 
	border-right: 23px solid transparent;	
}

#footer_block{
	position: relative;
    float: left;
	width:100%;
	background:#7c7c7c;
	z-index:11;
}

#footer{
	position: relative;
    float: right;
    width: 978px;
	padding:20px 0px;
	min-height:178px;
}

#footer .menu{
	position: relative;
    float: left;
	width:230px;
	margin-right:35px;
	color:#fff;
}

#footer .menu:nth-of-type(2){
	width:195px;
}

#footer .menu span{
	font-size:15px;
	font-weight:bold;
	margin-bottom:4px;
	display:block;
}

#footer .menu ul{
	margin-left:15px;
	position:relative;
	list-style:none;
}

#footer .menu ul li{
	line-height:18px;
	position:relative;
}

#footer .menu a{
	color:#fff;
	font-size:13px;
	position:relative;
}

#footer .menu li a:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    top: 4px;
    left: -17px;
}

#footer .info_contact{
	position:relative;
	float:right;
	width:215px;
	color:#fff;
	font-weight:bold;
}

#footer .info_contact p{
	position:relative;
	margin-bottom:15px;
	line-height:18px;
}

#footer .tg{
	position:absolute;
	bottom:25px;
	right:0px;
	font-family: 'aa-bebasneue';
	text-transform:uppercase;
	color:#b5b5b5;
	font-size:16px;
 }
 
#footer .tg a{
	color:#fff;
}

#footer  .copyright{
	position:absolute;
	bottom:25px;
	left:0px;
	font-size:12px;
	color:#fff;
	font-family: Arial;
}

/*--*/
#content_page{
	position:relative;
	float:left;
	width:100%;
	background:#fff;
}



